<!-- <div class= "home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p> Enter the text here - Everything for that matter.</p>
    </div>
  </div>

  <div class= "container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nac-pills outline-acive">
            <li class="nav-item">
              <a class="nav-link">
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                Global Feed
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p> Popular Tags</p>
        </div>
        </div>
        </div>
        </div>
      </div> -->
<!--<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="item">
        <img class="img-responisve" src="/assets/images/main-image1.jpg" alt="mainimage" style="width:100%;">
    </div>
</div>-->
<div class="container bg-overlay">
  <div class="row text-center">
    <h1> Welcome! </h1>
  </div>
</div>

